<div class="fullscreen" ng-show="loading">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>

<section class="content-wrapper animated fadeIn fast blue-custom" ng-show="!loading" role="main">

    <div class="content">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="tab-content">
                <i class="fa fa-cloud-upload white-text m-4x" style="font-size:200px;"></i>
                <h1 class="footer-text white-text">SINGLE MACHINE</h1>
                <h4 class="light flow-text white-text">A boilerplate MEAN app on a single server.</h4>
                <p class="white-text pt-4x">For dev inquires, contact: <a class='btn white-button-3' href="mailto:marco@bymar.co">marco@bymar.co</a></p>

            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</section>





