<div id="home">

    <div class="mt-4x pull-right text-right white-text width-100" >
        <button class="btn transparent white-text m-2x p-2x" data-toggle="modal" data-target="#login" ng-show="!isAuthenticated()">LOG IN</button>
    </div>

    <div class="width-100" style="position: absolute;bottom: 0;">
        <img class="img-responsive" src="/images/other_images/buildings.png">
    </div>

    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <div class="mt-4x">

                <h1 class="m-4x white-text bold t-7x">SINGLE MACHINE</h1>
                <h5 class="regular white-text">A boilerplate MEAN app on a single server.</h5>

                <button class="btn white-button-3 text-center" data-toggle="modal" data-target="#signup" ng-show="!isAuthenticated()">Free Sign Up</button>
            </div>
        </div>
    </div>

</div>
