<div class="fullscreen" ng-show="loading" style="margin-top:50px">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<section class="content-wrapper velocity-transition-fadeIn velocity-duration-500" ng-show="!loading" role="main">

    <div class="blue-custom p-4x" style="height:15vh">
        <h1 class="white-text text-left">SINGLE MACHINE</h1>
    </div>

    <div class="blue-custom">
        <div class="container pt-4x pb-4x">
            <div class="m-4x">
                <i class="fa fa-user white-text m-4x" style="font-size:100px;"></i>
                <h1 class="white-text">REQUEST PASSWORD RESET</h1>
                <p class="t-4x white-text">If you can’t remember your user name or password, enter the email address associated with your account. We’ll send you an email with your user name and a link for resetting your password.</p>
            </div>
        </div>
    </div>

    <div class="container mt-4x" ng-show="!done">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <input type="text" class="form-control mb-3x" ng-model="data.email" placeholder="Your Email">
                <button class="btn blue-button-4" type="button" ng-click="submit()"><i class="fa fa-thumbs-up mr-2x" aria-hidden="true"></i>SUBMIT</button>
                <a href="/"><button class="btn red-button-2"><i class="fa fa-step-backward mr-2x" aria-hidden="true"></i>Go Back</button></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
        </div>
    </div>

    <div class="container mt-4x" ng-show="done">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <p>Sent! Check your inbox for a reset link.</p>
                <a href="/"><button class="btn red-button-2"><i class="fa fa-step-backward mr-2x" aria-hidden="true"></i>Go Back</button></a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
        </div>
    </div>

</section>