<!DOCTYPE html>
<html>
<head>
</head>

<body>

<main>
    <h1>Health Check</h1>
    <p>Used for load balanced setups. Ensure the load-balancer's health check points to /healthcheck</p>
</main>

</body>
</html>