<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/wrapkit.css">
    <link rel="stylesheet" href="stylesheets/components.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

<main class="" id="wrapper">

    <section class="content-wrapper blue-custom velocity-transition-fadeIn velocity-duration-500" role="main">

        <div class="content mt-4x">
            <div class="row mt-4x">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="tab-content">
                        <h1 class="light flow-text white-text">Single Machine is undergoing maintenance. <br>Try again later.</h1>
                        <p class="white-text pt-4x">For dev inquires, contact: <a class='btn white-button-3' href="mailto:foo@bar.com">foo@bar.com</a></p>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </section>

</main>
</body>
</html>